.img{
    border-radius: 130px 40px 130px 40px;
}

.my-img{
    height: 300px;
    width: 500px;
}
header li :hover{
    
    background-color: #057866;
}
.courses{
    height: 200px;
    width: 200px;
    margin-bottom: 12px;
}
.courses:hover{
   transition: all 1s;
   scale: 1.2;
   
}
i:hover{
    color: #01426A;
}









